@model PaintManagement.Models.Paint
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@{
    ViewBag.Title = "Details";
}
<img src="~/Images/285131_363979710352180_1850381867_n.jpg" style="width:80px;height:80px; float:right" />
<i class="fa fa-shopping-basket fa-2x" style="font-size:50px; color:grey"></i>
<h2>Details</h2>

<div>
    <h4>Paint</h4>
    <hr />

    <dl class="dl-horizontal">
        <h5><b>Product Orders</b></h5>
        <dd>
            <table class="table">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Amount Due
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
                @foreach (var item in Model.ProductOrders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountDue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaintID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="footer">
    <p>2020 Green Gecko Paint Management</p>
</div>